# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
.env

# Docker
*.log
*.db
superset_home/
docker-compose.override.yml
Dockerfile 

# IDEs
.vscode/
.idea/

# Misc
*.zip

#virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
superset-venv/

# Database files
*.db